/*
 *                      ____        _   _                  
 *      _ __ ___  _   _| __ ) _   _| |_| |_ ___  _ __  ___ 
 *     | '_ ` _ \| | | |  _ \| | | | __| __/ _ \| '_ \/ __|
 *     | | | | | | |_| | |_) | |_| | |_| || (_) | | | \__ \
 *     |_| |_| |_|\__, |____/ \__,_|\__|\__\___/|_| |_|___/
 *                |___/                                    
 * 					Laget av Magnus Pettersen
 */
 
 
 
/* Place directly on <a> */
.small_button { 
	text-decoration: none;
	display: block;
	min-width: 60px;
	width: auto;
	padding: 5px 15px 5px 15px;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	box-sizing: content-box;
	
}
.small_button:hover {
	background: black;
	
}